<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="hero-image">
  <div class="hero-text">
    <h1> Holborn Car Park Sevices</h1>
    <h3 class="hero-subtitle"> Management system </h3>
    <div class="menu-bar">
      <div class="container" align="center">
        {{#bulma-columns}}
          {{#bulma-column}}
            {{#link-to "manager.current"
              class="button is-warning is-large is-outlined"
            }}
              <span class="icon">{{fa-icon "far fa-chart-line"}}</span>
              <span>Current</span>
            {{/link-to}}

            {{#link-to "manager.happy-hour"
              class="button is-warning is-large is-outlined"
            }}
              <span class="icon">{{fa-icon "far fa-grin-beam"}}</span>
              <span>Happy Hour</span>
            {{/link-to}}

            {{#link-to "manager.price"
              class="button is-warning is-large is-outlined"
            }}
              <span class="icon">{{fa-icon "far fa-money-bill-alt"}}</span>
              <span>Price</span>
            {{/link-to}}

            {{#link-to "manager.statistics"
              class="button is-warning is-large is-outlined"
            }}
              <span class="icon">{{fa-icon "fas fa-chart-pie"}}</span>
              <span>Statistics</span>
            {{/link-to}}
            
            {{#link-to "login"
              class="button is-light is-large"
            }}
              <span>Sign out</span>
            {{/link-to}}
          {{/bulma-column}}
        {{/bulma-columns}}
      </div>
    </div>
    <h3> This is project B for CS1813 Software Development </h3>
  </div>
</div>
