<div class="box full-height">
  <div class="content is-dark has-text-centered">
    <h4>Data for the last 7 days</h4>
    <div class="rows">
      <div class="columns">
        <p>Total Cars</p>
      </div>
      <div class="columns">
        <p>Total income</p>
      </div>
      <div class="columns">
        <p>Average Time spent</p>
      </div>
    </div>
  </div>
</div>
