<div class="box full-height">
  <div class="content is-dark has-text-centered">
    <div class="rows">
      <div class="columns">
        <p>Current Price per Hour: </p>
        <p> £2.00</p>
      </div>
      <div class="columns">
        <p>Change price: </p>
        <div class="field">
          <div class="control">
            <div class="select">
              <select>
                <option>Select New Price</option>
                <option>£1.50</option>
                <option>£1.60</option>
                <option>£1.70</option>
                <option>£1.80</option>
                <option>£1.90</option>
                <option>£2.00</option>
                <option>£2.10</option>
                <option>£2.20</option>
                <option>£2.30</option>
                <option>£2.40</option>
                <option>£2.50</option>
                <option>£2.60</option>
                <option>£2.70</option>
                <option>£2.80</option>
                <option>£2.90</option>
                <option>£3.00</option>
                <option>£3.10</option>
                <option>£3.20</option>
                <option>£3.30</option>
                <option>£3.40</option>
                <option>£3.50</option>
              </select>
            </div>
          </div>
        </div>
        <input class="button" type="submit" value="Submit input">
      </div>
    </div>
  </div>
</div>
